<!DOCTYPE html>
<html>

	<head>
	    <title>Purchase Summary</title>
	    <link href="assets/img/favicon.ico" rel="Shortcut Icon">
	    <link type="text/css" rel="stylesheet" href="assets/css/vramp.css">
	</head>

	<body class="js--vramp-bidding">
		
		<div class="lot-preview">

			<div class="lot--title">
				<div class="lot--number">
					<label><span class="sale-ring">Ring 1</span>Lot</label>
					<div>2471A</div>
				</div>
				<div class="lot--description">
					<span class="h-valign">
						2008 Manitou 4x4 Bucket Lift
					</span>
				</div>
			</div>

			<div class="lot--photo">
				<img src="assets/img/vramp-lotImage.png"/>
			</div>

		</div>		

		<div class="choice-area">
			<div class="choice--header">Choice of 12 Remaining</div>
			<div class="choice--body">
				<ul class="choice--lots">
					<li rv-each-choicelot="vrampObject.choiceGroup" class="choice--lot" rv-class-s-sold="choicelot.status"><span rv-text="choicelot.lot"></span><div rv-if="choicelot.status" class="c-brand">SOLD</div></li>
				</ul>
			</div>
		</div>

		<div class="details-area">
			<div class="prices">
				<div class="ask">
					<label>ASK</label>
					<div class="ccy CAD">
						<div class="dollars" rv-html="vrampObject.price | price"></div>
					</div>
				</div>
				

				<div class="conversions">
					<div rv-each-conversion="vrampObject.conversions" class="conversion ccy" rv-addccyclass="conversion.currency" rv-class-s-outofauction="conversion.currency">
						<span class="dollars" rv-html="conversion.rate | convertedVrampPrice vrampObject.price conversion.currency"></span>
					</div>
				</div>

			</div>

			<div class="high-bid">
				<label>
					HIGH BID
				</label>

				<div class="h-t-ellipsize"> 
					Internet, SK, CAN
				</div>
			</div>

			<div class="lot-details">
				<div class="lot-detail">
					<label for="">Usage</label>
					<div>4756 hrs</div>
				</div>
				<div class="lot-detail" rv-hide="vrampObject.auctioneerMessage">
					<label for="">Comes With</label>
					<div>Cummins B3.9-C, 40 m boom, pwr to platform, hyd rotation, extendable axles, hyd leveling, EPA</div>
				</div>
			</div>

			<div class="auctioneers-message" rv-class-s-shown="vrampObject.auctioneerMessage">
				<label for="">Note</label>
				<div rv-text="vrampObject.auctioneerMessage"></div>
			</div>
		</div>


		<footer class="other-rings">
			<ul class="rings">
				<li rv-each-ring="vrampObject.otherRings" class="ring">
					<div rv-unless="ring.TAL">
						<div class="ring--number">
							<label>RING</label>
							<span rv-text="ring.number"></span>
						</div>
						<div class="ring--progress">
							<div rv-if="ring.status">
								Lot <span rv-text="ring.lot"></span>
							</div>
							<div rv-unless="ring.status">
								Starts ~ <span rv-text="ring.startTime"></span>
							</div>

						</div>
					</div>

					<div rv-if="ring.TAL">
						<div class="ring--number">
							TAL
						</div>
						<div class="ring--progress">
							Lot <span rv-text="ring.lot"></span> Closes Next
						</div>
					</div>
					
				</li>
			</ul>
		</footer>

		<div class="prototype-controls js--prototype-controls">
			
			<button rv-on-click="vrampController.prevLot" class="g-half">Previous Lot</button>
			<button rv-on-click="vrampController.nextLot" class="g-half">Next Lot</button>

			<div>
				<button rv-on-click="vrampController.showMessage">Toggle Auctioneer's Message</button><br/>
				<button rv-on-click="vrampController.toggleOtherRings">Toggle Other Rings</button><br/>
				<button rv-on-click="vrampController.toggleConversions">Toggle Conversions</button><br/>
			</div>

		</div>

		<script type="text/javascript" src="assets/js/main-min.js"></script>

	</body>

</html>