<!DOCTYPE html>
<html>

	<head>
	    <title>Vramp Prototype</title>
	    <link href="assets/img/favicon.ico" rel="Shortcut Icon">
	    <link type="text/css" rel="stylesheet" href="assets/css/vramp.css">
	</head>

	<body class="js--vramp-bidding" rv-auctionstatus="vrampObject.auctionStatus">
		
		<img src="assets/img/vramp-bg.png" class="fullscreenbg" />

		<div class="lot-preview">

			<div class="lot--title">
				<div class="lot--number">
					<label><span class="sale-ring">Ring 1</span>Lot</label>
					<div rv-text="vrampObject.lotDetail.lotNumber"></div>
				</div>
				<div class="lot--description">
					<span class="h-valign" rv-text="vrampObject.lotDetail.description"></span>
				</div>
			</div>

			<div class="lot--photo">
				<img rv-src="vrampObject.lotDetail.photo"/>
			</div>

			<div class="choice-area" rv-show="vrampObject.choiceGroup">
				<div class="choice--header">Choice of <span rv-text="vrampObject.choiceGroup | length"></span> Remaining</div>
				<div class="choice--body">
					<ul class="choice--lots">
						<li rv-each-choicelot="vrampObject.choiceGroup" class="choice--lot" rv-soldoroutclass="choicelot.status" rv-class-s-active="choicelot.active"><span rv-text="choicelot.lotNumber"></span><div rv-if="choicelot.status | issold" class="c-brand">SOLD</div><div rv-if="choicelot.status | isout" class="out-text">OUT</div></li>
					</ul>
				</div>
			</div>

		</div>		

		

		<div class="details-area">
			<div class="active-details">
				<div class="prices" rv-class-s-sold="vrampObject.lotDetail.status">
					<div class="h-valign">

						<div class="ask">
							<label rv-hide="vrampObject.lotDetail.status">ASK</label>
							<label rv-show="vrampObject.lotDetail.status"><i class="c-brand icon-sold"></i>SOLD</label>
							<div class="ccy CAD">
								<div class="dollars" rv-html="vrampObject.price | price"></div>
							</div>
						</div>
						

						<div class="conversions">
							<div rv-each-conversion="vrampObject.conversions" class="conversion ccy" rv-addccyclass="conversion.currency" rv-class-s-outofauction="conversion.currency">
								<span class="dollars" rv-html="conversion.rate | convertedVrampPrice vrampObject.price conversion.currency"></span>
							</div>
						</div>
					</div>

				</div>

				<div class="high-bid">
					<label>
						HIGH BID
					</label>

					<div class="h-t-ellipsize"> 
						Internet, SK, CAN
					</div>
				</div>

				<div class="lot-details">
					<div class="lot-detail">
						<label for="">Usage</label>
						<div rv-text="vrampObject.lotDetail.usage"></div>
					</div>
					<div class="lot-detail" rv-hide="vrampObject.auctioneerMessage">
						<label for="">Comes With</label>
						<div rv-text="vrampObject.lotDetail.comeswith"></div>
					</div>
				</div>

				<div class="auctioneers-message" rv-class-s-shown="vrampObject.auctioneerMessage">
					<label for="">Note</label>
					<div rv-text="vrampObject.auctioneerMessage"></div>
				</div>

				<div class="open-offers" rv-class-s-shown="vrampObject.openOffers">
					<label for="">Open Offers</label>
					<div> Choose lots to buy at the current ask price. </div>
				</div>
			</div>
			
			<!-- PAUSED RIGHT HAND SIDE AREA -->
			<div class="paused-details">
				
				<div class="ring-detail">
					RING 1
					<label>Lots 1 - 290, 8001 - 8099</label>
				</div>

				<div class="ring-status">
					<div class="ring-status--content">
						<i class="icon-pause status-icon"></i>
						Auction Paused
					</div>
				</div>

			</div>

		</div>

		<div class="paused-message">
			<div class="h-valign">We are currently experiencing technical difficulties. The auction will resume shortly.</div>
		</div>


		<footer class="other-rings">
			<ul class="rings">
				<li rv-each-ring="vrampObject.otherRings" class="ring">
					<div rv-unless="ring.TAL">
						<div class="ring--number">
							<label>RING</label>
							<span rv-text="ring.number"></span>
						</div>
						<div class="ring--progress">
							<div rv-if="ring.status">
								Lot <span rv-text="ring.lot"></span>
							</div>
							<div rv-unless="ring.status">
								Starts ~ <span rv-text="ring.startTime"></span>
							</div>

						</div>
					</div>

					<div rv-if="ring.TAL">
						<div class="ring--number">
							TAL
						</div>
						<div class="ring--progress">
							Lot <span rv-text="ring.lot"></span> Closes Next
						</div>
					</div>
					
				</li>
			</ul>
		</footer>

		<div class="prototype-controls js--prototype-controls">
			
			<button rv-on-click="vrampController.prevLot" class="g-half">Previous Lot</button>
			<button rv-on-click="vrampController.nextLot" class="g-half">Next Lot</button><br/>
			<button rv-on-click="vrampController.sellLot">SELL THIS LOT</button>

			<div>
				<button rv-on-click="vrampController.showMessage">Toggle Auctioneer's Message</button><br/>
				<button rv-on-click="vrampController.toggleOtherRings">Toggle Other Rings</button><br/>
				<button rv-on-click="vrampController.toggleConversions">Toggle Conversions</button><br/>
				<button rv-on-click="vrampController.toggleOpenOffer">Toggle Open Offer</button>
			</div>

			<div>
				<button rv-on-click="vrampController.togglePause">Pause</button>
			</div>

		</div>

		<script type="text/javascript" src="assets/js/main-min.js"></script>

	</body>

</html>