/**********************
	BUTTONS
**********************/
%button{
	position: relative;
	display: inline-block;
	
	padding: 8px $default-margin;
	color: $black;
	border-radius: $default-border-radius;
	font-size: 1rem;
	font-weight: 700;
	outline: none;
	cursor: pointer;
	user-select: none;


	&:disabled{
		opacity: 0.4;
		cursor: normal;
		pointer-events: none;
	}

	&:focus{
		outline: none;
		border-color: darken($brand-color,20%);
	}
}

	.button{
		@extend %button;
		@include transition(padding-left);

		background-color: $brand-color;
		background-image: $button-gradient;
		border: 1px solid $brand-color;

		&:hover{
			background-color: darken($brand-color,10%);
			background-image: $button-gradient_hover;
			color: $white;
		}

		&.icon{
			background-color: transparent;
			background-image: none;
			border: 0;

			img{
				width: 15px;
			}
			
			&.icon_plain{
				padding: 0 5px;
				vertical-align: middle;
			}
		}

		&.icon_100{
			img{
				width: 10px;
			}
		}

		&.s-success{
			padding-left: 36px;

			&:before{
				content: " ";
				background: url('../img/check_small.png') no-repeat 0 0;
				position: absolute;
				width:20px;
				height:20px;
				left: 8px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.button_secondary{
		@extend %button;

		background-color: transparent;
		background-image: none;
		border: 2px solid $brand-color;
		color: $brand-color;

		&:hover{
			background-color: $brand-color;
			//box-shadow: none;
			color: white;
			text-decoration: none;
		}
	}

	.button_secondary--white{
		@extend %button;

		background-color: transparent;
		background-image: none;
		border: 2px solid white;
		color: white;
		opacity: 0.8;

		&:hover{
			opacity: 1;
			text-decoration: none;
		}
	}



	.button_select-all{
		@extend %button;

		background-image: none;
		background-color: $grey-900;
		color: white;
		border: 0;
		box-shadow: none;

		&:hover{
			background-image: none;
			background-color: darken($grey-900,5%);
			color: white;
		}
	}

	.button_hollow{
		@extend %button;
		@extend .label;

		background-image: none;
		background-color: white;
		color: $brand-color;
		box-shadow: none;
		border: 1px solid $brand-color;
		font-size: 0.8rem;
		padding: 5px;

		&:hover{
			background-image: none;
			background-color: $brand-color;
			color: white;
		}
	}

	.button_positive, .button_two-state{
		@extend %button;
		
		background-color: $finance-color;
		background-image: none;
		border: none;
		color: white;
	}

	.button_negative, .button_two-state.s-negative{
		@extend %button;

		background-color: $error-colour;
		background-image: none;
		border: none;
		color: white;
	}


.button--unbound{
	outline: none;
	border: 0;
	background-color: transparent;
	font-size: 1rem;
	cursor: pointer;

	label:not(.narrow){
		margin: 0 15px;
		vertical-align: top;
		color: inherit;
		cursor: pointer;
	}

	&:hover{
		color: $active-colour;
	}
}


.button_text{
	position: relative;
	display: inline-block;
	background-color: transparent;
	border: 0;
	padding: 8px $default-margin;
	font-size: 1rem;
	font-weight: 700;
	outline: none;
	cursor: pointer;
	user-select: none;
	text-decoration: underline;

	&:disabled{
		opacity: 0.4;
		cursor: normal;
		pointer-events: none;
	}

	&:focus{
		outline: none;
		border-color: darken($brand-color,20%);
	}

	&.button_text--s{
		font-size: 0.8rem;
	}

}



.toggle_icon{
	color: $grey-500;
	font-size: 0.8rem;
	cursor: pointer;

	i{
		margin: 10px;
		font-size: 20px;
		vertical-align: middle;
	}

	span{
		vertical-align: middle;
	}

	input[type=checkbox]{
		display: none;

		&:checked ~ *{
			color: $money-color;
		}
	}

	&.toggle_icon_header{
		padding: 8px 0;
		display: block;
	}
}

	

.field--toggle, .field--toggle_icon{

    cursor: pointer;
    position: relative;
    
   .toggle-control{
      transition: $transition;
      width: $toggle-height*1.5;
      height: $toggle-height;
      display: inline-block;
      border: 2px solid $grey-700;
      background-color: rgba($black,0.3);
      border-radius: $toggle-height;
      position: relative;
      vertical-align: middle;
      
      &:after{
        transition: $transition;
        content: "";
        width: $toggle-height - 4;
        height: $toggle-height - 4;
        display: block;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
      }
   }

   span{
   	margin-right: 4px;
   	vertical-align: middle;
   }
   
  input{
    display: none;
    &:checked ~ .toggle-control{
      border-color: $finance-color;
      background-color: $finance-color;
      &:after{
        left: $toggle-height / 2;
      }
    }
  }
  
  .toggle_input{
   
  }
  
}

.field--toggle_icon{
	position: relative;
	font-size: 15px;
	padding: 6px 15px;
	border-left: 1px solid rgba($grey-100,1);
	float: right;
	position: relative;

	i{
		position: relative;
		z-index: 1;
		color: $grey-100;

		&:after{
			content: '';
			display: block;
			position: absolute;
			height: 2px;
			background-color: $grey-100;
			top: 40%;
			left: -3px;
			width: 150%;
			transform: rotate(-45deg);
		}

		&:hover{
			color: white;

			&:after{
				background-color: white;
			}
		}
	}

	&.s-error{
		cursor: default;
		
		i{
			color: white;

			&:after{
				background-color: white;
			}
		}

		.toggle--bg{
			background-color: $error-colour;
		}	
	}

	.toggle--bg{
		background-color: $grey-300;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}

	input:checked ~ .toggle--bg{
		background-color: transparent;
	}

	input:checked ~ i{
		color: $finance-color;

		&:after{
			width: 0;
		}

		&:hover{
			color: lighten($finance-color,10%);

			&:after{
				color: lighten($finance-color,10%);
			}
		}
	}

}








