$ccys: 	"CAD" "$" "" "," "." true 2,
		"USD" "$" "" "," "." true 14,
		"SGD" "$" "" "," "." true 12,
		"NZD" "$" "" "," "." true 10,
		"AUD" "$" "" "," "." true 0,
		"MXN" "$" "" "," "." true 8,
		"ZAR" "R" "" "," "." true 15,
		"PLN" "" "z\0142" " " "," true 11,
		"GBP" "\00A3" "" "," "." true 5,
		"EUR" "\20AC" "" " " "," true 4,
		"CNY" "\00A5" "" "," "." true 3,
		"JPY" "\00A5" "" "," "." false 7,
		"INR" " \20B9" "" "," "." true 6,
		"AED" "" "د.إ" "," "." true 1,
		"NOK" "kr" "" "," "." true 9,
		"TRY" "\20BA" "" "," "." true 13;


@each $ccy in $ccys{
	
	.divider:before{
		.#{nth($ccy,1)} & {
			content: "#{nth($ccy,4)}";
		}
	}
	.dollars:before{
		.#{nth($ccy,1)} & {
			content: "#{nth($ccy,2)}";
		}
	}
	.dollars:after{
		.#{nth($ccy,1)} & {
			content: "#{nth($ccy,3)}";
			margin-left: 3px;
		}
	}
	.CCY:before{
		.#{nth($ccy,1)} & {
			content: "#{nth($ccy,1)}";
		}
	}

	.auction-ccy:before{
		.#{nth($ccy,1)} & {
			background-position: 0 -#{nth($ccy,7)*15px};
		}
	}

	.auction-ccy-flag:before{
		.#{nth($ccy,1)} & {
			background-position: 0 -#{nth($ccy,7)*15px};
		}
	}


	.ccy-flag{
		&.#{nth($ccy,1)}:before{
			background-position: 0 -#{nth($ccy,7)*15px};
		}
	}

	.auction-ccy:after{
		.#{nth($ccy,1)} & {
			content: "#{nth($ccy,2)} #{nth($ccy,1)}  #{nth($ccy,3)}"; 
		}
	}

	.CCY-dollars:before{
		.#{nth($ccy,1)} & {
			content: "#{nth($ccy,1)} #{nth($ccy,2)}";
		}
	}
}

.auction-ccy-flag:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
	width: 30px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-image: url(../img/ccy-flags.png);
	box-shadow: $ritchie-shadow;
}

.convertCCY{
	font-size: 0.8em;
}

.CCY:before{
	font-size: 0.8em;
}

