header{
	@include center-content;

	padding: 5px 0;
	position: relative;
	z-index: 10;


	.home-link{
		font-size: 0.8rem;
		
		img{
			height: 8px;
		}
	}
}

	.logo{
		display: inline-block;
		width: 200px;
    	height: 46px;
    	margin: 10px 0 20px;
	}

	.header--left{
		
	}

	.header--right{
		position: absolute;
		right: 0;
		top: 5px;
		display: table-row;
	}

	.header--section{
		border-right: 1px solid $border-color;
		padding: 0 $default-margin;
		display: table-cell;
		vertical-align: top;

		&:last-child{
			border-right: none;
		}
	}

	.cart-icon{
		display: inline-block;
		position: relative;
		margin-right: $default-margin;
		vertical-align: top;

		i{
			position: relative;
			top: 11px;
			font-size: 1.8rem;
			z-index: 2;
		}

		.cart-count{
			position: absolute;
			display: block;
			top: 0;

			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			
			background-color: $brand-color;
			transform: rotate(15deg) translateX(4px);
			color: white;
			font-size: 0.8rem;
		}
	}

	.header--price{
		label{
			display: inline-block; 
			width: 65px;
			text-align: right;
		}
	}

		.header--price-readout{
			@extend .label;
			color: inherit;
			font-size: 0.9rem;
			margin-left: $default-margin/2;
		}

	.auctioneers-message{
		position: absolute;
		bottom: -25px;
		left: 0;
		right: 0;
		border-radius: 5px;
		background-color: $error-colour;
		text-align: center;
		padding: 5px;
		color: white;
		box-shadow: $ritchie-shadow;

		opacity: 0;
		pointer-events: none;
		transform: translateY(-100%);
		transition: $transition;

		button{
			float: right;
			color: white;
		}

		&.s-active{
			opacity: 1;
			pointer-events: all;
			transform: translateY(0);
		}

	}
