@font-face {
    font-family: 'ritchie-icons';
    src:    url('../fonts/ritchie-icons.eot?x1nmoi');
    src:    url('../fonts/ritchie-icons.eot?x1nmoi#iefix') format('embedded-opentype'),
        url('../fonts/ritchie-icons.ttf?x1nmoi') format('truetype'),
        url('../fonts/ritchie-icons.woff?x1nmoi') format('woff'),
        url('../fonts/ritchie-icons.svg?x1nmoi#ritchie-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ritchie-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-popout:before {
    content: "\e90b";
}
.icon-next:before {
    content: "\e90e";
}
.icon-prev:before {
    content: "\e914";
}
.icon-arrow-down:before {
    content: "\e900";
}
.icon-audio:before {
    content: "\e901";
}
.icon-bid:before {
    content: "\e902";
}
.icon-cart:before {
    content: "\e903";
}
.icon-check:before {
    content: "\e904";
}
.icon-clock:before {
    content: "\e905";
}
.icon-close:before {
    content: "\e906";
}
.icon-dei:before {
    content: "\e907";
}
.icon-eye:before {
    content: "\e908";
}
.icon-help:before {
    content: "\e909";
}
.icon-loading:before {
    content: "\e90a";
}
.icon-Photos:before {
    content: "\e90c";
}
.icon-plus:before {
    content: "\e90d";
}
.icon-sale:before {
    content: "\e90f";
}
.icon-search:before {
    content: "\e910";
}
.icon-user:before {
    content: "\e911";
}
.icon-warning:before {
    content: "\e912";
}
.icon-warranty:before {
    content: "\e913";
}

