%field{
  width: 100%;
  height: $input-height;
  border: 1px solid $grey-300;
  background-color: $white;
  border-radius: 0;
  appearance: none;
  box-sizing: border-box;
  padding: 2px 8px;
  outline: none;
  position: relative;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1rem;
  
  &.invalid{
    background-color: $error-colour-light;
  }

  &:hover{
    border: 1px solid $border-active;
  }

  &:focus{
    border: 1px solid $border-active;
  }
}

%field--text{
  @extend %field;

  &:read-only{
    border-width: 0 !important;
    text-decoration: underline;
    cursor: pointer;
  }

}

.field--text{
  @extend %field--text;
}

.field--w-modifier{
  position: relative;
  display: inline-block;
  
  button{
    width: $input-height - 2;
    padding: 0; 
    position: absolute;
    border-radius: 0;
    display: block;
    right: 2px;
    top: 2px;
    bottom: 2px;
    line-height: 1;

    &:last-child{
      right: $input-height + 1;
    }
  }
}


//HIDE INPUT SPINNERS ON NUMBER INPUTS (WE HAVE OUR OWN)
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

%field--select{
  @extend %field;
  background: url("../img/select-arrow.png") no-repeat right 0;
  cursor: pointer;
  
  &.invalid{
    border-color: $error-colour;
  }

  &:hover{
    background-position: right -33px;
  }
}

.field--select{
  @extend %field--select;
}


$circle-checkmark-size: 18px;

.input--circle-check{
    

  input{
    appearance: none;

    background-color: white;
    width: $circle-checkmark-size;
    height: $circle-checkmark-size;
    border-radius: $circle-checkmark-size;

    outline: none;
    vertical-align: middle;

    transition: $transition;

    &:after{
      @include icon-font;
      content: "\e904";
      color: white;
      font-size: $circle-checkmark-size;
    }

    &:checked{
      background-color: $brand-color;
    }

  }
}


.input--money{
  position: relative;

  .symbols{
    display: inline-block;
    vertical-align: middle;
  }

  input{
    width: 160px;
    vertical-align: middle;
  }
}





