.middle-section{
	margin-bottom: 2 * $default-margin;
	position: relative;

	&:before{
		content: " ";
		background-color: $brand-color;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 60px;
		z-index: 0;
	}
}

.client--upper{
	@include center-content;
	position: relative;
	z-index: 2;
	padding: 10px;
	transition: $transition;

	@include breakpoint(large){
		height: 500px;	
	}

	&.s-copy{
		position: absolute;
		top: 0;

		&.s-hide{
			transform: translateX(-100%);
			opacity: 0;
		}
	}
	
}

.lot-info{
	display: inline-block;
	width: 50%;

	@include breakpoint(med-large){
		width: 60%;	
	}
}

	.lot--number{
		color: rgba(white,0.8);
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 0;
	}

	.lot--title{
		color: white;
		font-size: 1.4rem;
		margin-bottom: 20px;
		@include ellipsize;
	}

	.lot--photos{
		
		@include breakpoint(med-large){
			display: inline-block;
			width: 50%;
		}

		@include breakpoint(large){
			width: 60%;	
		}
	}

		.lot--bottom{
			margin-top: $default-margin;
			@include default-font;
			text-align: center;
		}

	.swiper-container{
		
		img{
			width: 100%;
    		min-width: 100%;
    		vertical-align: bottom;
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			right: 0;
			height: 100px;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		}

		.swiper-pagination-bullet{
			background: white;
			opacity: 0.5;
			transition: $transition;
			
			&.swiper-pagination-bullet-active{
				background: $brand-color;
				opacity: 1;
				transform: scale(1.2);
			}
		}

		.swiper-button-prev,
		.swiper-container-rtl .swiper-button-next {
  			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  		}

  		.swiper-button-next,
		.swiper-container-rtl .swiper-button-prev {
		  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
		}
	}

	.lot--fields{
		padding: 0 2*$default-margin 0 $default-margin;
		@include default-font;

		@include breakpoint(med-large){
			display: inline-block;
			width: 49%;
			float: right;
		}

		@include breakpoint(large){
			width: 39%;	
		}
	}

		.lot--field, .lot--field_half, .lot--field_warranty{
			label{
				display: block;
				margin-bottom: $default-margin/2;
			}
			
			padding-top: $default-margin;
			padding-bottom: $default-margin;
			border-bottom: $ritchie-border;
		}

		.lot--field:first-of-type{
			padding-top: 0;
		}

		.lot--field:last-of-type{
			border-bottom: none;
		}

		.lot--field_warranty{
			border-bottom: none;
		}

		.lot--field_half{
			display: inline-block;
			width: 49%;
			border-bottom: none;
			padding: 0;

			&:last-of-type{
				text-align: right;
			}
		}





