

.lot-bidding{
	width: 49%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	height: auto;

	@include breakpoint(med-large){
		width: 45%;
	}
}

@mixin runnerupAnimation{
	animation-name: runnerup;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

@keyframes runnerup {
  	0% {
    	background-color: $brand-color;
	}
	50%{
		background-color: darken($brand-color,15%);
	}
  	100% {
	 	background-color: $brand-color;
	} 
}

	.bidding--area{
		display: inline-block;
		width: 50%;
		height: 100%;
		position: relative;
		background-color: $grey-50;

		&:before{
			content: "";
			width: 10px;
			// height: 20px;
			height: $lot-header-height;
			position: absolute;
			top: 0;
			left: 0;
			// transform: translateY(-50%);
			background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%220%200%2010%2020%22%20preserveAspectRatio%3D%22none%22%3E%3Cpolygon%20fill%3D%22%23333333%22%20points%3D%220%2C0%2010%2C10%200%2C20%22%2F%3E%3C%2Fsvg%3E');
			background-size: 10px 100%;
			background-repeat: no-repeat;
					
		}
	}
		
		.bidding--info{
			padding: $default-margin;
			padding-right: 8px;
			
			@include breakpoint(large){
				padding-right: $default-margin;
				padding-left: 20px;
			}

			.h-t-large{
				font-size: 1.4rem;
			}
		}

		.bidding{
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;	
			padding: 0 $default-margin;
		}

			.bidding--bid-button{
				height: 100px;
			}

			.bidding--activate{
				background-color: $brand-color;
				color: white;
				@include default-font;
				padding: $default-margin/2;
				padding-left: 20px;
				line-height: 1rem;
				position: relative;
				margin-bottom: 10px;
				margin-right: -$default-margin;
				
				&:before{
					content: '';
					background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%220%200%2010%2020%22%20preserveAspectRatio%3D%22none%22%3E%3Cpolygon%20fill%3D%22%23e8e6e2%22%20points%3D%220%2C0%2010%2C10%200%2C20%22%2F%3E%3C%2Fsvg%3E');
					background-size: 10px 100%;
					background-repeat: no-repeat;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 10px;
				}
				
				&.s-winner{
					background-color: $finance-color;
				}

				&.s-runnerup{
					@include runnerupAnimation;
				}

				&.s-flash{
					animation: clickwarn 0.5s ease-in-out infinite;
				}
				
			}

			@keyframes clickwarn {
			  	0% {
			    	transform: translateX(0);
				}
				50%{
					transform: translateX(5px);
				}
			  	100% {
				 	transform: translateX(0);
				} 
			}

				.normal, .openoffer, .runnerup, .winner{
					display: none;
				}

				.s-normal .normal{
					display: block;
				}

				.s-open-offers .openoffer{
					display: block;
				}

				.s-runnerup .runnerup{
					display: block;
				}

				.s-winner .winner{
					display: block;
				}

		.lot-tables--follow{
			position: absolute;
			bottom: -1px;
			left: 10px;
			right: 10px;
			text-align: center;
			background-color: $grey-100;
			padding: 2px 0;
		    border: 1px solid $border-separator;
		    border-bottom: 0;
		    border-radius: 5px 5px 0 0;
		}


		.bid-field{
			padding: 8px 0;
			border-bottom: $ritchie-border;
			text-align: right;
			line-height: 1;
			overflow: hidden;

			@include vbreakpoint(med){
				padding: $default-margin 0;		
			}

			.field--select, .field--w-modifier{
				width: 50%;
			}

			.field--toggle{
				float: right;
			}

			&:last-of-type{
				border-bottom: none;
			}

			&:first-of-type{
				padding-top: 0;
			}

			label{
				float: left;
				margin-top: 5px;
			}

			.bid-value_sub{
				display: block;
				font-size: 0.8rem;
				margin-top: 10px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

			}

			.bid-value:empty:before{
				content: "waiting...";
			}

			&.bid-field_left{
				text-align: left;
			}
		}

		.bidding--bid-button{
			@extend .button;
			color: $black;
			background-image: none;
			background-color: white;
			height: 80px;
			
			width: 100%;

			label{
				color: black; 
			}

			&:hover{
				color: black;
				background-image: none;
				background-color: white;
			}
			
			.bidder--option{
				display: none;
			}

			&.s-disabled{
				opacity: 0.5;
				background-image: none;
				background-color: #d2d2d2;
				border-color: transparent;
				cursor: default;

				.bidder--disabled{
					display: block;
					font-size: 1.2rem;

					// &:before{
					// 	content: "BID: ";
					// 	font-size: 0.9rem;
					// 	display: block;
					// }
				}
			}

			&.s-active, &.s-open-offer{
				background-image: $button-gradient;

				&:hover{
					background-image: $button-gradient_hover;
					color: black;
				}
			}
			
			&.s-active .bidder--active{
				display: block;
				font-size: 1.2rem;

				&:before{
					font-size: 0.9rem;
					display: block;
				}
			}
			
			&.s-open-offer .bidder--open-offer{
				display: block;
				font-size: 1.2rem;
			}

			&.s-open-offer_disabled{
				opacity: 0.5;
				pointer-events: none;
				
				.bidder--open-offer_disabled{
					display: block;
					font-size: 1.2rem;
				}
			}

			&.s-waiting{
				border: 2px solid $grey-300;

				.bidder--waiting{
					display: block;
				}
			}

			&.s-accepted{
				border: 2px solid $finance-color;

				.bidder--accepted{
					display: block;
				}	
			}

			&.s-sold-won{
				border: 2px solid $finance-color;

				.bidder--won{
					display: block;
				}	
			}

			&.s-sold-lost{
				border: 2px solid $grey-300;

				.bidder--lost{
					display: block;
				}	
			}

			
		}

		.bidding--controls_b .bidding--bid-button{
			min-height: 100px;

			&.s-disabled{
				display: none;
			}
		}
			
			.pre-bid{
				text-align: center;
				padding: 20px 0;
			}

			/************************
				MESSAGE BOXES
			************************/


			*[class^="message-box"]{
				border: 1px solid $grey-300;
				//background-color: $grey-100;
				padding: 10px $default-margin;
				padding-left: 57px;
				font-weight: 700;
				margin-bottom: 10px;

				position: relative;
				text-align: left;
				font-size: 1rem;
				line-height: 1.1rem;

				&:before{
					display: inline-block;
					position: absolute;
					left: $default-margin;
					top: 50%;
					transform: translateY(-50%);
					//padding-right: $default-margin;

					@include icon-font;
					font-size: 24px;
				}
			}

			.message-box--error{
				border: none;
				background-color: $error-colour;
				color: white;
				font-weight: 400;
				@extend .icon-warning;

				&:before{
					color: white;
				}
			}

			.message-box--warning{
				border: none;
				background-color: $warning-colour;
				color: black;
				@extend .icon-warning;

				&:before{
					color: black;
					border-right-color: transparent;
				}

				&.s-disabled{

				}
			}

			.message-box--waiting{
				border: none;
				background-color: $warning-colour;
				color: black;
				padding-left: 15px;
				text-align: center;

				&:after{
					display: block;
					position: absolute;
					content: " ";
					left: 0;
					right: 100%;
					height: 4px;
					bottom: 0;
					background-color: darken($warning-colour, 15%);

					animation-name: waitingslide;
					animation-iteration-count: infinite;
					animation-duration: 1s;
					animation-direction: alternate;
					animation-timing-function: linear;
				}
			}

			@keyframes waitingslide{
				0%{
					left: 0;
					right: 100%;
				}

				50%{
					left: 0;
					right: 0;
				}

				100%{
					left: 100%;
					right: 0;
				}
			}

			.message-box--open-offer{
				border: none;
				background-color: lighten($error-colour, 10%);
				color: white;
				@extend .icon-sale;

				&:before{
					color: darken($error-colour,25%);
					border-right-color: darken($error-colour,25%);
				}
			}

			.message-box--success{
				border-color: $finance-color;
				background-color: $finance-color;
				color: white;
				font-weight: 400;
				//text-transform: uppercase;
				@extend .icon-check;

				&:before{
					color: white;
				}

				&.s-sold{
					font-size: 1.1rem;
					border: transparent;
					padding-bottom: 15px;
					
					&:before{
						animation: happybounce 0.5s ease-in-out infinite;
					}
				
					.stripe, .stripe-top{
						position: absolute;
						content: "";
						left: 50%;
						width: 0;
						height: 4px;
						bottom: 0;
						transform: none;
						top: auto;
					}

					.stripe-top{
						top: 0;
						bottom: auto;
					}

					.stripe-top:nth-of-type(4){
						background-color: lighten($finance-color, 10%);
						animation: youwin 1.5s linear infinite;
					}

					.stripe-top:nth-of-type(5){
						background-color: lighten($finance-color, 20%);
						animation: youwin 1.5s linear 0.5s infinite;
					}

					.stripe-top:nth-of-type(6){
						background-color: lighten($finance-color, 30%);
						animation: youwin 1.5s linear 1s infinite;
					}

					.stripe:nth-of-type(1){
						background-color: lighten($finance-color, 10%);
						animation: youwin 1.5s linear infinite;
					}

					.stripe:nth-of-type(2){
						background-color: lighten($finance-color, 20%);
						animation: youwin 1.5s linear 0.5s infinite;
					}

					.stripe:nth-of-type(3){
						background-color: lighten($finance-color, 30%);
						animation: youwin 1.5s linear 1s infinite;
					}
					
				}
			}



			@keyframes youwin{
				0%{
					left: 50%;
					width: 0;
					z-index: 100;
				}

				33%{
					left: 0;
					width: 100%;
					z-index: 10;
				}

				100%{
					left: 0;
					width: 100%;
				}
			}

			@keyframes happybounce{
				0%{ transform: translateY(-50%); }
				20%{ transform: translateY(-52%); }
				50%{ transform: translateY(-70%); }
				80%{ transform: translateY(-52%); }
				100%{ transform: translateY(-50%); }
			}



//
		

	.bidding--group{
		display: inline-block;
		width: 50%;
		height: 100%;
		float: right;
		position: relative;

		&.s-active-lot{
			ul:before, .bidding--header:before{
				background-color: $grey-500;
			}

			li:not(.s-active-lot):not(.s-sold):not(.s-out){
				opacity: 0.5;
				pointer-events: none;

				.lot--selector{
					pointer-events: none;
					opacity: 0;
				}
			}

			li:not(.s-active-lot){
				//border-left: 1px solid $grey-900;
			}

			li.s-sold, li.s-out{
				//border-left: 1px solid rgba($grey-900,0.5);	
			}
		}

		&.s-runnerup:not(.s-active-lot){
			ul:before, .bidding--header:before{
				@include runnerupAnimation;
			}
		}

		&.s-winner:not(.s-active-lot){
			ul:before, .bidding--header:before{
				background-color: $finance-color;
			}
		}

		&.s-open-offers, &.s-winner, &.s-runnerup{
			.bidding--header{
				background-color: $grey-900;
				color: $brand-color;
			}

			.group--body{
				top: 65px;
			}
		}
	}

	.bidding--header{
		// background-color: white;
		// color: $grey-900;
		background-color: $grey-300;
		padding: 3px 0 0 10px;
		@include default-font;
		font-weight: 700;
		text-align: center;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 10px;
			background-color: $brand-color;
			display: inline-block;
		}
	}

		.button_select-all{
			margin-bottom: 5px;
		}

	.group--body{
		overflow-y: auto;
		position: absolute;
		top: 25px;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 5px;
		transition: $transition;

		&.group--body_b{
			padding: 0;
		}

		ul{
			position: relative;
		}

		ul:before{
			display: block;
			width: 10px;
			background-color: $brand-color;
			content: '';
			position: absolute;
			top: 0;
			bottom: -1px;
			left: 0;
		}
	}

		

	.group--footer{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 40px;
		display: none;

		text-align: center;
	}

	.lot--selector{
			outline: none;
			cursor: pointer;
			transition: $transition;
			vertical-align: middle;

			span{
				height: 30px;
				width: 30px;
		    	display: block;
			    //background-color: white;
			    border: 3px solid $brand-color;
			    color: transparent;
				border-radius: 20px;
				font-size: 18px;
				text-align: center;
				margin-right: 6px;

				i{
					line-height: 24px;
					display: block;

					transition: $transition;
				}

				transition: $transition;

				&:hover{
					color: rgba($brand-color,0.7);
					background-color: white;

					i{
						transform: scale(1.1);
					}
				}
			}

			input{
				display: none;

				&:checked{
					+ span{
						background-color: $brand-color;
						opacity: 1;
						color: white;

						&:hover{
							color: white;
						}
					}
			    }
			}
		}

	.group--lot{
		@include default-font;
		overflow: hidden;
		padding: 2px 10px 2px 45px;
		margin-left: 10px;
		border-bottom: $ritchie-border;
		position: relative;
		cursor: pointer;

		transition: $transition;

			// &:before{
			// 	content: '';
			// 	position: absolute;
			// 	background-color: $brand-color;
			// 	top: 0;
			// 	left: 0;
			// 	width: 0;
			// 	height: 100%;
			// 	transition: $transition;
			// }

		.lot--watching{
			vertical-align: middle;
			margin-right: 5px;
		}

		$lot-photo-width: 70px;

		.lot--photo{
			
			position: relative;
			width: $lot-photo-width - 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;

			@include breakpoint(large){
				width: $lot-photo-width - 10px;
			}

		}

		.lot--values{
			vertical-align: middle;
			display: inline-block;
			width: calc(100% - #{$lot-photo-width});

			&:hover{
				text-decoration: underline;
			}
		}

			.lot--name{
				line-height: 0.9rem;

				&:hover{
					color: inherit;
				}
			}

			.lot--value{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 0.8rem;
				line-height: 1.2rem;
			}

		// .lot--name{
		// 	display: inline-block;
		// 	vertical-align: middle;
		// }

		.lot--selector{
			position: absolute;
		    left: 6px;
		    top: 50%;
		    transform: translateY(-50%);
		}

		
		&.s-disabled .lot--selector{
			display: none;
		}

		

		&.s-active-lot{
			background-color: $brand-color;
			margin-left: 0;

			&:before{
				width: 100%;
			}


			.lot--selector{
				left: 5px;
				span{
					background-color: white;
					color: $brand-color;

					&:hover{
						color: $brand-color;
					}
				}
			}

			.lot--values{
				color: white;
			}
		}

		&.s-sold, &.s-out, &.s-preview{
			&:before{
				@include icon-font;
				position: absolute;
				left: 5px;
				width: 35px;
				text-align: center;
				top: 40%;
				transform: translateY(-50%);
				font-size: 24px;
			}

			&:after{
				position: absolute;
				left: 5px;
				width: 35px;
				text-align: center;
				bottom: 5px;
				@include smalltext;
				color: $grey-500;
			}
		}

		&.s-preview:not(.s-active-lot){
			&:before{
				//content: "\e908";
				//color: $grey-500;
				//font-size: 12px;
				//left: 4px;
			}

			background-color: $selected-background;
		}

		&.s-sold, &.s-out{
			background-color: $grey-50;
			cursor: default;
			pointer-events: none;
			
			*{
				opacity: 0.5;
			}

			.lot--selector{
				display: none;
			}
		}

		&.s-sold{

			&:before{
				content: "\e920";
				color: $brand-color;

			}
			&:after{
				content: "SOLD";
			}

			// &:after{
			// 	position: absolute;
			// 	display: block;
			// 	left: 5px;
			// 	bottom: 0px;
			// 	content: "SOLD";
			// 	font-size: 0.7rem;
			// 	width: 35px;
			// 	text-align: center;
			// 	font-weight: 700;
			// 	color: $grey-500;
			// }
		}

		&.s-out{
			
			&:before{
				content: "\e906";
				color: rgba($error-colour,0.5);
				font-size: 18px;
			}
			&:after{
				content: "OUT";
			}
			.lot--name, .lot--value{
				text-decoration: line-through;
			}
		}
	}

	
	.select-all{
		color: white;
		background-color: $grey-900;
		padding: 5px  6px;
		text-align: left;

		span{
			border-color: white;
			transform: scale(0.9);
		}
	}

	.bidding--lot{
		margin-bottom: $default-margin;
		text-align: center;
		padding: 5px 0;

		label{
			font-size: 0.9rem;
		}
	}

	.bidding--outbid{
		position: absolute;
    	left: 15px;
    	right: 15px;
    	opacity: 0;
    	transform: translateY(0);
    	transition: $transition;

    	&.s-active{
    		transform: translateY(-100%);
    		opacity: 1;
    	}

	}


















	.group--lot_b{
		@include default-font;
		overflow: hidden;
		padding: 0 10px 0 45px;
		background-color: $grey-100;
		margin: 2px;
		margin-left: 12px;
		border-radius: 5px;
		position: relative;
		cursor: pointer;
		border: 2px solid transparent;

		transition: $transition;

			// &:before{
			// 	content: '';
			// 	position: absolute;
			// 	background-color: $brand-color;
			// 	top: 0;
			// 	left: 0;
			// 	width: 0;
			// 	height: 100%;
			// 	transition: $transition;
			// }

		.lot--watching{
			vertical-align: middle;
			margin-right: 5px;
		}

		$lot-photo-width: 70px;
		
		.lot--photo{
			position: relative;
			width: $lot-photo-width - 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;

			@include breakpoint(large){
				width: $lot-photo-width - 10px;
			}
		}
		
		.lot--values{
		
			vertical-align: middle;
			display: inline-block;
			width: calc(100% - #{$lot-photo-width});

			&:hover{
				text-decoration: underline;
			}
		
		}

			.lot--name{
				line-height: 0.9rem;

				&:hover{
					color: inherit;
				}
			}

			.lot--value{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 0.8rem;
				line-height: 1.2rem;
			}

		// .lot--name{
		// 	display: inline-block;
		// 	vertical-align: middle;
		// }

		.lot--selector{
			position: absolute;
		    left: 6px;
		    top: 50%;
		    transform: translateY(-50%);
		}

		
		&.s-disabled .lot--selector{
			display: none;
		}

		&.s-preview{
			background-color: $selected-background;
		}

		&.s-active-lot{
			background-color: $brand-color;
			margin-left: 0;

			&:before{
				width: 100%;
			}


			.lot--selector{
				left: 5px;
				span{
					background-color: white;
					color: $brand-color;

					&:hover{
						color: $brand-color;
					}
				}
			}

			.lot--values{
				color: white;
			}
		}

		&.s-sold, &.s-out{
			background-color: $grey-50;
			cursor: default;

			&:before{
				@include icon-font;
				position: absolute;
				left: 5px;
				width: 35px;
				text-align: center;
				top: 50%;
				transform: translateY(-50%);
				font-size: 24px;
			}
			
			*{
				opacity: 0.5;
			}

			// &:before{
			// 	content: "SOLD";
			// 	color: $grey-500;
			// 	position: absolute;
			// 	left: 5px;
			// 	top: 50%;
			// 	transform: translateY(-50%);
			// 	bottom: 0;
			// 	font-size: 0.7rem;
			// 	width: 35px;
			// 	text-align: center;
			// 	font-weight: 700;
			// 	vertical-align: middle;
			// }

			.lot--selector{
				display: none;
			}
		}

		&.s-sold{

			&:before{
				content: "\e920";
				color: $brand-color;

			}

			// &:after{
			// 	position: absolute;
			// 	display: block;
			// 	left: 5px;
			// 	bottom: 0px;
			// 	content: "SOLD";
			// 	font-size: 0.7rem;
			// 	width: 35px;
			// 	text-align: center;
			// 	font-weight: 700;
			// 	color: $grey-500;
			// }
		}

		&.s-out{
			background-color: rgba($error-colour, 0.2);

			&:before{
				content: "\e906";
				color: rgba($error-colour,0.5);
				font-size: 18px;
			}
			.lot--name, .lot--value{
				text-decoration: line-through;
			}
		}
	}







