.lb{
	position: fixed;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9000;
	overflow-y: hidden;
	transition: $transition;

	&.s-open{
		top: 0;
		//overflow-y: auto;
		transition: $transition;

		.lb-window, [class^='lb-window_']{
			opacity: 1;
			transform: translateX(-50%) translateY(0);
			transition: $transition;
		}
	}
}

.lb-background{
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba($black,0.6);
}

.lb-window-scroll{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
}

$top-margin: 20px;

.lb-window, [class^='lb-window_']{
	position: relative;
	width: 600px;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	opacity: 0;
	transition: $transition;
	border-radius: 5px;
	background-color: $white;
	box-shadow: $ritchie-shadow;
	
	margin: $top-margin 0;

	@include breakpoint(medmax){
		width: 95%;
	}
	
}

.lb-window_wide{
	width: 100%;
	height: 100%;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	
	@include breakpoint(medium){
		margin-top: $top-margin;
		width: 800px;
		max-height: calc(100% - 40px);
	}
}
	
	.lb-window-close{
		position: absolute;
		right: 0;
		top: 0;
		background-color: transparent;
		padding: $default-margin;

		z-index: 500;
	}

	.lb-content, [class*='lb-content__']{
		padding: 3 * $default-margin;
		text-align: center;
		
		@include breakpoint(medmax){
			padding: 20px;

			h2{
				font-size: 1.4rem;
				margin-bottom: 0;
			}
		}

		img{
			//margin-bottom: $default-margin;
		}
	}

		.lb-content__flex{
			flex: 1;
			overflow-y:auto;
		}

	.lb-action-area{
		
		padding: $default-margin;
		background-color: $grey-100;
		position: relative;
		overflow: hidden;
		text-align: center;
		border-radius: 0 0 $default-border-radius $default-border-radius;

		button{
			display: inline-block;
		}

		&--secondary{
			
			display: inline-block;
		}
	}

		.lb-action-area_fixed{ 
			overflow: visible;
		}

	$top-img-size: 130px;

	.lb-wizard--top-img{
		position: relative;
	    display: inline-block;

		border-radius: $top-img-size;
		width: $top-img-size;
	    padding: 5px;
	    margin: 0;
	    background-color: $white;
	    margin-top: $top-img-size/-2;
	    
	    img{
	    	max-width: 100%;
	    	width: 100%;
	    }
	}

	.lb-wizard--step{
		overflow-y: hidden;
	}


