.modal{
	display: none;
	width: 350px;
	border-radius: 4px;
	overflow: hidden;
	background-color: white;
	box-shadow: $ritchie-shadow;

	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 100;

	transition: $transition;

	&.s-shown{
		display: block;
	}
}

	.modal--header{
		background-color: black;
		color: white;
		line-height: 40px;
		padding: 0 $default-margin;

		.icon-close{
			float: right;
			line-height: 40px;
			cursor: pointer;

			&:hover{
				color: $brand-color;
			}
		}
	}


.expander{

	&.s-expanded{
		.expander--toggle:before{
			transform: rotate(0);
		}

		.expander--content{
			display: block;
		}
	}

}

	.expander--toggle{
		background-color: $grey-700;
		color: $grey-500;
		font-size: 0.8rem;
		padding: 4px 10px;

		&:before{
			@include icon-font;
			content: '\e900';
			display: inline-block;
			transition: $transition;
			font-size: 6px;
			margin-right: 6px;
			transform: rotate(-90deg);
		}

	}

	.expander--content{
		display: none;
	}

$setting-label-width: 30%;

.setting{

	label{
		width: $setting-label-width;
		padding-right: 5px;
		text-align: right;
		display: inline-block;
		word-wrap: break-word;
	}

	.CCY{
		margin-right: 5px;
	}

	&.ccyconversion .setting--result{
		background-color: rgba($money-color,0.2);

	}

	&.financing-calculation .setting--result{
		background-color: rgba($finance-color,0.2);		
	}

}

	.setting--result{
		padding: 10px;

		&>*{
			display: inline-block;
			vertical-align: middle;
		}

		.toggle-icon{
			float: right;
			line-height: 25px;
			cursor: pointer;
			display: inline-block;
			position: relative;

			&:hover{
				color: $brand-color;
			}

			&:after{
				transition: $transition;
				width: 0;
				content: '';
			    display: block;
			    position: absolute;
			    height: 2px;
			    background-color: black;
			    top: 50%;
			    left: -3px;
			    transform: rotate(0);
			   	box-shadow: 1px -2px 0 0 $money-tint;
			}

			&.s-active{
				&:after{
				    width: 140%;
				    transform: rotate(-45deg);
				}
			}
		}
		
		.result{
			line-height: 0.8rem;
			max-width: 60%;
		}

		.result>div{
			margin-bottom: 5px;
		}
	}

	.setting--row{
		border-top: $ritchie-border;
		padding: 3px 10px;

		&>:not(label){
			display: inline-block;
			width: 100% - $setting-label-width - 2%;
			vertical-align: top;
		}
		
	}

	.ccyconversion--selector{
		max-height: 200px;
		overflow-y: auto;
	}

	.ccy-flag{
		padding: 5px;
		cursor: pointer;
		border-bottom: $ritchie-border;

		&:hover{
			color: $brand-color;
		}

		&.s-active{
			background-color: rgba($brand-color, 0.2);

			&:after{
				@include icon-font;
				content: "\e915";
				float: right;
				color: $brand-color;
			}
		}

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			width: 30px;
			height: 15px;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-image: url(../img/ccy-flags.png);
			box-shadow: $ritchie-shadow;
		}
	}


.kickedout{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	overflow: hidden;
	background-color: rgba($grey-700,1);
	color: white;
	z-index: 1000;
	text-align: center;
	border-style: solid;
	border-color: white;
	border-width: 0;

	.kickedout--img{
		width: 180px;
	}

	.header--auction{
		font-size: 1.5rem;
		margin-bottom: 15px
	}
	
	.a-fade-in{
		max-width: 700px;
		margin: 0 auto;
		overflow: hidden;

		transition: $transition;
		transition-delay: 0.1s;
		transition-duration: 1s;
		
		opacity: 0;
		transform: translateY(-100%);
	}

	transition: $transition;
	transition-duration: 0.5s;

	&.s-visible{
		height: 100%;
		border-width: 20px;

		.a-fade-in{
			opacity: 1;
			transform: translateY(-50%);
		}
	}
}
