p{
	font-size: 1rem;
	line-height: 1.6rem;
}

.body--half{
	
	@include breakpoint(medium){
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 50%;
	
	}
}

.l-wrapper{
	max-width: 600px;
	margin: 0 auto;
}

	.auction-details{
		padding: 50px;
		overflow-y: auto;
		position: absolute;
		top:40px;
		bottom: 150px;
		width: 100%;

		@media (min-height: 700px) and (min-width: 48em) {
			top: calc(50% - 100px);
			transform: translateY(-50%);
			bottom: auto;
			overflow-y: visible;
		}

		@media (min-width: 80em){
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
		}

		@media (min-width: 80em) and (min-height: 700px){
			transform: translate(-50%,-50%);
		}

	}

		.button--enter-auction{
			font-size: 30px;
			padding: 15px 30px;
			display: block;
			margin-top: 15px;
			text-align: center;
			font-weight: 700;
			width: 100%;
			font-family: "Trebuchet MS";

			&:hover{
				text-decoration: none;
				color: black;
			}

			label{
				display: block;
				color: black;
				font-size: 12px;
				pointer-events: none;
			}
		}

		.button--recovery-email{
			font-size: 20px;
			padding: 10px 30px;
			display: block;
			margin-top: 15px;
			text-align: center;


			&:hover{
				text-decoration: none;
				color: black;
			}
		}

		.auction--enter{
			margin-top: 50px;
		}

		.auction--enter_not-started{
			border-radius: 5px;
			text-align: center;
			background-color: $grey-100;
			padding: 20px;
			margin-top: 50px;
			color: white;
			box-shadow: $ritchie-shadow;
			margin-bottom: 20px; 

		}

		.auction--warning{
			border-radius: 5px;
			background-color: $error-colour;
			color: white;
			padding: 20px 30px;
		}

			.i-crossed-out{
			  font-size: 40px;
			  position: relative;

			  &:after{
			    content: '';
			    background-color: white;
			    display: block;
			    width: 60px;
			    border-radius: 10px;
			    height: 5px;
			    transform: rotate(-45deg);
			    top: 13px;
			    left: -10px;
			    position: absolute;
			    border: 2px solid $error-colour;
			  }
			}

		.contact-area{
			h3{
				margin-bottom: 10px;
			}

			a{
				color: $brand-color;
				text-decoration: underline;
			}
			
			font-size: 1rem;
			line-height: 1.6rem;
			text-align: center;
		}

	.custom-area{
		left: auto;
		right: 0;
		background-color: $grey-100;
	}

		.custom--content{
			padding: 50px;

			@media (max-height: 700px) and (min-width: 48em){
				position: absolute;
				top: 0;
				bottom: 150px;
				overflow-y: auto;
			}

			@media (min-height: 700px) and (min-width: 48em) {
				position: absolute;
				top: calc(50% - 80px);
				transform: translateY(-50%);
			}
		}

		.custom--media{
			
			position: relative;
			padding-bottom: 56.25%;

			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}



	footer{

		@include breakpoint(medium){
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 150px;
		}

		overflow: hidden;
		border-top: 1px solid $grey-300;
		background-color: $grey-100;
		padding: 15px 30px;

		&.warning{
			background-color: $warning-colour;
			border-top: none;
		}

		&.contact-details{
			
			@include breakpoint(medium){
				padding-top: 40px;
			}

			&>div:first-of-type{
				padding-right: 20px;
			}

			p{
				margin: 7px 0;
			}
		}
	} 

	.fixed-footer{
		height: 27px;
		padding: 0 20px;
	}

.collapsible{

	.default-hidden{
		display: none;
	}

	&.s-expanded{
		.default-shown{
			display: none;
		}
		.default-hidden{
			display: block;
		}
	}
}

.terms{
	font-size: 1rem;
	line-height: 1.6rem;

	strong{
		font-size: 1.4rem;
	}

	.list--alhpa{
		margin-top: $default-margin;
		margin-left: $default-margin;
	}

	li{
		margin-bottom: $default-margin;
	}
}

@mixin textlink{
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}

.grey-link, [class^="grey-link_"]{
	color: $grey-500;
	@include textlink;
}

.grey-link_dark{
	color: $grey-900;
	@include textlink;
}

.link_blue{
	color: $money-color;
	@include textlink;
}


.phone-link{
	margin-bottom: $default-margin;

	a{
		color: $money-color;

		@include breakpoint(medmax){
			display: block;
		}
	}
}

.box-bordered{
		border: 1px solid $grey-500;
		padding: $default-margin;
		position: relative;

		&_greybg{
			background-color: darken($grey-100, 5%);
			padding: $default-margin;
			margin-top: $default-margin;
		}

		&_black{
			border: 1px solid $black;
			padding: $default-margin;
			position: relative;
			
			@include breakpoint(smallmax){
				margin-top: $default-margin;
			}
		}
	}


.field--text{

	height: 50px;

}

	@mixin uparrow($bgcolor: $error-colour){
		&:after{
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			background-color: $bgcolor;
			position: absolute;
			top: 0;
			left: 15px;
			transform: translateY(-50%) rotate(45deg);
		}
	}

	.field--error-message{
		color: white;
		background-color: $error-colour;
		padding: $default-margin;
		position: relative;

		@include uparrow;
	}

$checkmark-size: 35px;

.input--check{
	
	outline: none;
	cursor: pointer;

	input{
		appearance: none;
		position: absolute;
		clip: rect(0,0,0,0);

		&:checked + i{
			background-color: $brand-color;
			color: rgba(white,1);
	    }
	}

	i{
		display: inline-block;
		width: $checkmark-size;
	    height: $checkmark-size;
	    background-color: white;
	    border: 3px solid $brand-color;
		border-radius: $checkmark-size;
		transition: $transition;
		line-height: $checkmark-size - 5px;
		margin-right: $default-margin;
		vertical-align: middle;
		font-size: $checkmark-size - 12px;
		color: rgba($brand-color,0);
		transition: $transition;

		&:hover{
			color: rgba($brand-color,0.3);
		}
	}
	
	span{
		font-size: initial;
		color: initial;
	}    
}



