.body--half{
	
	@include breakpoint(medium){
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 50%;
	
	}
}

	.auction-details{
		padding: 50px;

		@media (min-height: 700px) and (min-width: 48em) {
			position: absolute;
			top: calc(50% - 100px);
			transform: translateY(-50%);
		}

		@media (min-width: 80em){
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
		}

		@media (min-width: 80em) and (min-height: 700px){
			transform: translate(-50%,-50%);
		}

	}

		.button--enter-auction{
			font-size: 30px;
			padding: 15px 30px;
			display: block;
			margin-top: 15px;
			text-align: center;

			&:hover{
				text-decoration: none;
				color: black;
			}
		}

		.auction--enter{
			margin-top: 50px;
		}

		.auction--enter_not-started{
			border-radius: 5px;
			text-align: center;
			background-color: $grey-100;
			padding: 20px;
			margin-top: 50px;
			color: white;
			box-shadow: $ritchie-shadow;

			// h1, h3{
			// 	color:white;
			// }
		
		}

	.custom-area{
		left: auto;
		right: 0;
		background-color: $grey-100;
	}

		.custom--content{
			padding: 50px;

			@media (max-height: 700px) and (min-width: 48em){
				position: absolute;
				top: 0;
				bottom: 150px;
				overflow-y: auto;
			}

			@media (min-height: 700px) and (min-width: 48em) {
				position: absolute;
				top: calc(50% - 80px);
				transform: translateY(-50%);
			}
		}

		.custom--media{
			
			position: relative;
			padding-bottom: 56.25%;

			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}



	footer{

		@include breakpoint(medium){
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 150px;
		}

		overflow: hidden;
		border-top: 1px solid $grey-300;
		background-color: $grey-100;
		padding: 15px 30px;

		&.warning{
			background-color: $warning-colour;
			border-top: none;
		}

		&.contact-details{
			
			@include breakpoint(medium){
				padding-top: 40px;
			}

			&>div:first-of-type{
				padding-right: 20px;
			}

			p{
				margin: 7px 0;
			}
		}
	}  







