/**********************
  TEXT FORMATTING
**********************/
.smalltext {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.9rem;
  text-transform: uppercase; }

label, .label, .button_hollow {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  color: #959595; }

@-webkit-keyframes waitingslide {
  0% {
    left: 0;
    right: 100%; }
  50% {
    left: 0;
    right: 0; }
  100% {
    left: 100%;
    right: 0; } }

@keyframes waitingslide {
  0% {
    left: 0;
    right: 100%; }
  50% {
    left: 0;
    right: 0; }
  100% {
    left: 100%;
    right: 0; } }

/*****************
GRID
******************/
.g-quarter, .g-third, .g-two-thirds, .g-half, .g-three-quarters, .g-fifth, .g-four-fifths {
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  display: inline-block;
  vertical-align: top; }
  .g-quarter:last-of-type, .g-third:last-of-type, .g-two-thirds:last-of-type, .g-half:last-of-type, .g-three-quarters:last-of-type, .g-fifth:last-of-type, .g-four-fifths:last-of-type {
    float: right;
    margin-right: 0; }
  .g-no-space.g-quarter, .g-no-space.g-third, .g-no-space.g-two-thirds, .g-no-space.g-half, .g-no-space.g-three-quarters, .g-no-space.g-fifth, .g-no-space.g-four-fifths {
    margin: 0; }

.g-display-table {
  display: table-row; }
  .g-display-table > [class^="g-"] {
    display: table-cell; }
    .g-display-table > [class^="g-"]:last-of-type {
      float: none; }
  .g-display-table .g-quarter {
    width: 25%; }
  .g-display-table .g-third {
    width: 33%; }
  .g-display-table .g-half {
    width: 50%; }
  .g-display-table .g-two-thirds {
    width: 66%; }

@media (min-width: 48em) {
  .g-half-to-third {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 48%;
    margin-right: 1%; } }

@media (min-width: 64em) {
  .g-half-to-third {
    width: 32%;
    margin-right: 1.7%; }
    .g-half-to-third:nth-child(3n+3), .g-half-to-third.last {
      float: right;
      margin-right: 0; } }

@media (min-width: 48em) {
  .g-quarter {
    width: 24%;
    margin-right: 1%; } }

.g-third {
  width: 32%;
  margin-right: 0.5%; }
  .g-third.g-no-space {
    width: 34%; }

@media (min-width: 48em) {
  .g-two-thirds {
    width: 62%;
    margin-right: 1%; }
    .g-two-thirds.g-no-space {
      width: 66%; } }

@media (min-width: 48em) {
  .g-half {
    width: 49%;
    margin-right: 1%; }
    .g-half:nth-child(2n+2) {
      float: right;
      margin-right: 0; }
    .g-half.g-no-space {
      width: 50%;
      float: none;
      margin-right: 0; } }

@media (min-width: 48em) {
  .g-three-quarters {
    width: 74%;
    margin-right: 1%; } }

@media (min-width: 48em) {
  .g-fifth {
    width: 19%;
    margin-right: 1%; } }

@media (min-width: 48em) {
  .g-four-fifths {
    width: 79%;
    margin-right: 1%; } }

@font-face {
  font-family: 'ritchie-icons';
  src: url("../fonts/ritchie-icons.eot?e6973e");
  src: url("../fonts/ritchie-icons.eot?e6973e#iefix") format("embedded-opentype"), url("../fonts/ritchie-icons.ttf?e6973e") format("truetype"), url("../fonts/ritchie-icons.woff?e6973e") format("woff"), url("../fonts/ritchie-icons.svg?e6973e#ritchie-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ritchie-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-size-med {
  font-size: 20px;
  vertical-align: middle; }

.icon-more_horiz:before {
  content: "\e923"; }

.icon-globe:before {
  content: "\e91e"; }

.icon-printer:before {
  content: "\e91d"; }

.icon-gavel:before {
  content: "\e910"; }

.icon-mic:before {
  content: "\e900"; }

.icon-arrow-down:before {
  content: "\e901"; }

.icon-audio:before {
  content: "\e902"; }

.icon-bid:before {
  content: "\e903"; }

.icon-cart:before {
  content: "\e904"; }

.icon-check:before {
  content: "\e905"; }

.icon-clock:before {
  content: "\e906"; }

.icon-close:before {
  content: "\e907"; }

.icon-dei:before {
  content: "\e908"; }

.icon-eye:before {
  content: "\e909"; }

.icon-help:before {
  content: "\e90a"; }

.icon-loading:before {
  content: "\e90b"; }

.icon-popout:before {
  content: "\e90c"; }

.icon-Photos:before {
  content: "\e90d"; }

.icon-plus:before {
  content: "\e90e"; }

.icon-next:before {
  content: "\e90f"; }

.icon-sale:before {
  content: "\e910"; }

.icon-search:before {
  content: "\e911"; }

.icon-user:before {
  content: "\e912"; }

.icon-warning:before {
  content: "\e913"; }

.icon-warranty:before {
  content: "\e914"; }

.icon-prev:before {
  content: "\e915"; }

.icon-check-inner:before {
  content: "\e916"; }

.icon-info:before {
  content: "\e917"; }

.icon-settings:before {
  content: "\e918"; }

.icon-unlocked:before {
  content: "\e919"; }

.icon-lock:before {
  content: "\e91a"; }

.icon-ccy:before {
  content: "\e91b"; }

.icon-calculator:before {
  content: "\e91c"; }

.icon-coin-pound:before {
  content: "\e91d"; }

.icon-coin-dollar:before {
  content: "\e91e"; }

.icon-trash:before {
  content: "\e91f"; }

.icon-error-1:before {
  content: "\e920"; }

.icon-sold:before {
  content: "\e921"; }

.icon-mail:before {
  content: "\e922"; }

.icon-max-1:before {
  content: "\e923"; }

.icon-max-4:before {
  content: "\e924"; }

.icon-max-3:before {
  content: "\e925"; }

.icon-arrow-left:before {
  content: "\e926"; }

.icon-pause:before {
  content: "\e927"; }

.field--text, .field--text_innner-label, .field--text_sm, .field--select {
  width: 100%;
  height: 30px;
  border: 1px solid #bfc0be;
  background-color: #ffffff;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  padding: 2px 8px;
  outline: none;
  position: relative;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1rem; }
  .invalid.field--text, .invalid.field--text_innner-label, .invalid.field--text_sm, .invalid.field--select, .s-error.field--text, .s-error.field--text_innner-label, .s-error.field--text_sm, .s-error.field--select {
    background-color: #F3BFBF; }
  .s-error_border.field--text, .s-error_border.field--text_innner-label, .s-error_border.field--text_sm, .s-error_border.field--select {
    border-color: #c4483a; }
  .field--text:hover, .field--text_innner-label:hover, .field--text_sm:hover, .field--select:hover {
    border: 1px solid #E35530; }
  .field--text:focus, .field--text_innner-label:focus, .field--text_sm:focus, .field--select:focus {
    border: 1px solid #E35530; }

.field--text:-moz-read-only, .field--text_innner-label:-moz-read-only, .field--text_sm:-moz-read-only {
  border-width: 0 !important;
  text-decoration: underline;
  cursor: pointer; }

.field--text:read-only, .field--text_innner-label:read-only, .field--text_sm:read-only {
  border-width: 0 !important;
  text-decoration: underline;
  cursor: pointer; }

.field--text_innner-label {
  padding-left: 45px; }

.field--inner-label {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  line-height: 30px;
  color: black; }

.field--text_sm {
  width: 70px; }

.field--w-modifier {
  position: relative;
  display: inline-block; }
  .field--w-modifier .field--text {
    text-align: center; }
  .field--w-modifier button {
    width: 28px;
    padding: 0;
    position: absolute;
    border-radius: 0;
    display: block;
    right: 2px;
    top: 2px;
    bottom: 2px;
    line-height: 1; }
    .field--w-modifier button:first-of-type {
      left: 2px;
      right: auto; }

.field--clear {
  border: 1px solid transparent;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 2px;
  bottom: 2px;
  width: 70px;
  line-height: 1; }
  .field--clear:after {
    font-family: 'ritchie-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e906"; }
  .field--clear:focus {
    border-color: #E87722; }
  .field--clear:hover {
    color: #20579E; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.field--select {
  background: url("../img/select-arrow.png") no-repeat right 0;
  cursor: pointer; }
  .invalid.field--select {
    border-color: #c4483a; }
  .field--select:hover {
    background-position: right -33px; }

.input--circle-check input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  outline: none;
  vertical-align: middle;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .input--circle-check input:after {
    font-family: 'ritchie-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e904";
    color: white;
    font-size: 18px; }
  .input--circle-check input:checked {
    background-color: #E87722; }

.input--money {
  position: relative; }
  .input--money .symbols {
    display: inline-block;
    vertical-align: middle; }
  .input--money input {
    width: 160px;
    vertical-align: middle; }

/**********************
	BUTTONS
**********************/
.button, .button_secondary, .button_secondary--white, .button_select-all, .button_hollow, .button_positive, .button_two-state, .button_negative, .button_two-state.s-negative {
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  color: #000000;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .button:disabled, .button_secondary:disabled, .button_secondary--white:disabled, .button_select-all:disabled, .button_hollow:disabled, .button_positive:disabled, .button_two-state:disabled, .button_negative:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }
  .button:focus, .button_secondary:focus, .button_secondary--white:focus, .button_select-all:focus, .button_hollow:focus, .button_positive:focus, .button_two-state:focus, .button_negative:focus {
    outline: none;
    border-color: #95490f; }

.button {
  -webkit-transition-property: padding-left;
  transition-property: padding-left;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
          transition-timing-function: cubic-bezier(0.63, 0.005, 0.365, 1);
  background-color: #E87722;
  background-image: -webkit-linear-gradient(#FAB558, #F69731);
  background-image: linear-gradient(#FAB558, #F69731);
  border: 1px solid #E87722; }
  .button:hover {
    background-color: #c35f14;
    background-image: -webkit-linear-gradient(#F58D31, #EB6D30);
    background-image: linear-gradient(#F58D31, #EB6D30);
    color: #ffffff; }
  .button.icon {
    background-color: transparent;
    background-image: none;
    border: 0; }
    .button.icon img {
      width: 15px; }
    .button.icon.icon_plain {
      padding: 0 5px;
      vertical-align: middle; }
  .button.icon_100 img {
    width: 10px; }
  .button.s-success {
    padding-left: 36px; }
    .button.s-success:before {
      content: " ";
      background: url("../img/check_small.png") no-repeat 0 0;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 8px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

.button_secondary {
  background-color: transparent;
  background-image: none;
  border: 2px solid #E87722;
  color: #E87722; }
  .button_secondary:hover {
    background-color: #E87722;
    color: white;
    text-decoration: none; }

.button_secondary--white {
  background-color: transparent;
  background-image: none;
  border: 2px solid white;
  color: white;
  opacity: 0.8; }
  .button_secondary--white:hover {
    opacity: 1;
    text-decoration: none; }

.button_select-all {
  background-image: none;
  background-color: #333333;
  color: white;
  border: 0;
  box-shadow: none; }
  .button_select-all:hover {
    background-image: none;
    background-color: #262626;
    color: white; }

.button_hollow {
  background-image: none;
  background-color: white;
  color: #E87722;
  box-shadow: none;
  border: 1px solid #E87722;
  font-size: 0.8rem;
  padding: 5px; }
  .button_hollow:hover {
    background-image: none;
    background-color: #E87722;
    color: white; }

.button_positive, .button_two-state {
  background-color: #24532B;
  background-image: none;
  border: none;
  color: white; }

.button_negative, .button_two-state.s-negative {
  background-color: #c4483a;
  background-image: none;
  border: none;
  color: white; }

.button--unbound {
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer; }
  .button--unbound label:not(.narrow) {
    margin: 0 15px;
    vertical-align: top;
    color: inherit;
    cursor: pointer; }
  .button--unbound:hover {
    color: #20579E; }

.button_text {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: 0;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: underline; }
  .button_text:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }
  .button_text:focus {
    outline: none;
    border-color: #95490f; }
  .button_text.button_text--s {
    font-size: 0.8rem; }

.toggle_icon {
  color: #959595;
  font-size: 0.8rem;
  cursor: pointer; }
  .toggle_icon i {
    margin: 10px;
    font-size: 20px;
    vertical-align: middle; }
  .toggle_icon span {
    vertical-align: middle; }
  .toggle_icon input[type=checkbox] {
    display: none; }
    .toggle_icon input[type=checkbox]:checked ~ * {
      color: #20579E; }
  .toggle_icon.toggle_icon_header {
    padding: 8px 0;
    display: block; }

.field--toggle, .field--toggle_icon {
  cursor: pointer;
  position: relative; }
  .field--toggle .toggle-control, .field--toggle_icon .toggle-control {
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    width: 30px;
    height: 20px;
    display: inline-block;
    border: 2px solid #585858;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: relative;
    vertical-align: middle; }
    .field--toggle .toggle-control:after, .field--toggle_icon .toggle-control:after {
      -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      content: "";
      width: 16px;
      height: 16px;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0; }
  .field--toggle span, .field--toggle_icon span {
    margin-right: 4px;
    vertical-align: middle; }
  .field--toggle input, .field--toggle_icon input {
    display: none; }
    .field--toggle input:checked ~ .toggle-control, .field--toggle_icon input:checked ~ .toggle-control {
      border-color: #24532B;
      background-color: #24532B; }
      .field--toggle input:checked ~ .toggle-control:after, .field--toggle_icon input:checked ~ .toggle-control:after {
        left: 10px; }

.field--toggle_icon {
  position: relative;
  font-size: 15px;
  padding: 6px 15px;
  border-left: 1px solid #e9e9e9;
  float: right;
  position: relative; }
  .field--toggle_icon i {
    position: relative;
    z-index: 1;
    color: #E9E9E9; }
    .field--toggle_icon i:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      background-color: #E9E9E9;
      top: 40%;
      left: -3px;
      width: 150%;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .field--toggle_icon i:hover {
      color: white; }
      .field--toggle_icon i:hover:after {
        background-color: white; }
  .field--toggle_icon.s-error {
    cursor: default; }
    .field--toggle_icon.s-error i {
      color: white; }
      .field--toggle_icon.s-error i:after {
        background-color: white; }
    .field--toggle_icon.s-error .toggle--bg {
      background-color: #c4483a; }
  .field--toggle_icon .toggle--bg {
    background-color: #bfc0be;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
  .field--toggle_icon input:checked ~ .toggle--bg {
    background-color: transparent; }
  .field--toggle_icon input:checked ~ i {
    color: #24532B; }
    .field--toggle_icon input:checked ~ i:after {
      width: 0; }
    .field--toggle_icon input:checked ~ i:hover {
      color: #33773d; }
      .field--toggle_icon input:checked ~ i:hover:after {
        color: #33773d; }

body {
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: black; }

h1 {
  font-size: 1.9rem;
  margin-bottom: 3px; }

h2 {
  font-size: 1.7rem;
  margin-bottom: 15px; }

h3 {
  font-size: 1.3rem;
  margin-bottom: 7.5px;
  color: #E87722; }

h4 {
  margin-bottom: 7.5px; }

h5 {
  color: inherit;
  margin-bottom: 5px; }

p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-top: 0; }

.p-100 {
  font-size: 1rem;
  line-height: 1.6rem; }

a {
  color: inherit;
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: underline;
    outline: none; }
  a:active, a:focus {
    outline: none; }
  a.a--img {
    line-height: 0;
    display: inline-block;
    max-width: 100%; }
    a.a--img img {
      max-width: 100%; }

hr {
  height: 0;
  border: none;
  border-bottom: 1px dotted #bdbdbd; }

.link {
  color: #E87722;
  text-decoration: underline; }

.logo {
  display: inline-block;
  width: 200px;
  height: 46px;
  margin: 10px 5px 10px 10px;
  -webkit-transform: scale(1.15) translateX(15px);
          transform: scale(1.15) translateX(15px); }

.lb {
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  overflow-y: hidden;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .lb.s-open {
    top: 0;
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
    .lb.s-open .lb-window, .lb.s-open [class^='lb-window_'] {
      opacity: 1;
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
      -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
      transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
    .lb.s-open .lb-action-area_fixed {
      position: fixed; }

.lb-background {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.lb-window-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto; }

.lb-window, [class^='lb-window_'] {
  position: relative;
  width: 600px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  opacity: 0;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  margin: 90px 0; }
  @media (max-width: 800px) {
    .lb-window, [class^='lb-window_'] {
      width: 95%; } }

.lb-window_wide {
  width: 800px; }

.lb-window-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  padding: 15px;
  z-index: 500; }

.lb-content {
  padding: 45px;
  text-align: center; }
  @media (max-width: 800px) {
    .lb-content {
      padding: 20px; }
      .lb-content h2 {
        font-size: 1.4rem;
        margin-bottom: 0; } }

.lb-action-area {
  padding: 15px;
  background-color: #E9E9E9;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 0 0 5px 5px; }
  .lb-action-area button {
    display: inline-block; }
  .lb-action-area--secondary {
    display: inline-block; }

.lb-action-area_fixed {
  bottom: 0;
  width: 800px;
  left: calc(((100% - 800px) /2) - 7px); }

.lb-wizard--top-img {
  position: relative;
  display: inline-block;
  border-radius: 130px;
  width: 130px;
  padding: 5px;
  margin: 0;
  background-color: #ffffff;
  margin-top: -65px; }
  .lb-wizard--top-img img {
    max-width: 100%;
    width: 100%; }

.lb-wizard--step {
  overflow-y: hidden; }

p {
  font-size: 1rem;
  line-height: 1.6rem; }
  @media (max-height: 700px) and (max-width: 80em) {
    p {
      font-size: 0.9rem;
      line-height: 1.3rem; } }

@media (min-width: 48em) {
  .body--half {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%; } }

.l-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px; }

.auction-details {
  padding: 50px; }
  @media (min-width: 64em) {
    .auction-details {
      overflow-y: auto;
      position: absolute;
      top: 40px;
      bottom: 150px;
      width: 100%; } }
  @media (min-height: 700px) and (min-width: 64em) {
    .auction-details {
      top: calc(50% - 100px);
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      bottom: auto;
      overflow-y: visible; } }
  @media (min-height: 700px) and (min-width: 80em) {
    .auction-details {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 80%; } }
  @media (min-width: 80em) and (min-height: 700px) {
    .auction-details {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }

.button--enter-auction {
  font-size: 30px;
  padding: 15px 30px;
  display: block;
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  font-family: "Trebuchet MS"; }
  .button--enter-auction:hover {
    text-decoration: none;
    color: black; }
  .button--enter-auction label {
    display: block;
    color: black;
    font-size: 12px;
    pointer-events: none; }

.button--recovery-email {
  font-size: 20px;
  padding: 10px 30px;
  display: block;
  margin-top: 15px;
  text-align: center; }
  .button--recovery-email:hover {
    text-decoration: none;
    color: black; }

@media (min-height: 700px) and (min-width: 64em) {
  .auction--enter {
    margin-top: 50px; } }

.auction--enter_not-started {
  border-radius: 5px;
  text-align: center;
  background-color: #E9E9E9;
  padding: 20px;
  margin-top: 50px;
  color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; }

.auction--warning {
  border-radius: 5px;
  background-color: #c4483a;
  color: white;
  padding: 20px;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.4rem; }

.i-crossed-out {
  font-size: 40px;
  position: relative; }
  .i-crossed-out:after {
    content: '';
    background-color: white;
    display: block;
    width: 60px;
    border-radius: 10px;
    height: 5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 13px;
    left: -10px;
    position: absolute;
    border: 2px solid #c4483a; }

.contact-area {
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center; }
  .contact-area h3 {
    margin-bottom: 10px; }
  .contact-area a {
    color: #E87722;
    text-decoration: underline; }

.custom-area {
  left: auto;
  right: 0;
  background-color: #E9E9E9; }

.custom--content {
  padding: 50px; }
  @media (max-height: 699px) and (min-width: 48em) {
    .custom--content {
      position: absolute;
      top: 0;
      bottom: 150px;
      overflow-y: auto; } }
  @media (min-height: 700px) and (min-width: 48em) {
    .custom--content {
      position: absolute;
      top: calc(50% - 80px);
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }

.custom--media {
  position: relative;
  padding-bottom: 56.25%; }
  .custom--media iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

footer {
  overflow: hidden;
  border-top: 1px solid #bfc0be;
  background-color: #E9E9E9;
  padding: 15px 30px; }
  @media (min-width: 48em) {
    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 150px; } }
  @media (max-height: 700px) and (max-width: 80em) {
    footer {
      font-size: 1rem; }
      footer p {
        font-size: 0.9rem;
        line-height: 1.3rem; } }
  footer.warning {
    background-color: #FCD748;
    border-top: none; }
  @media (min-width: 48em) {
    footer.contact-details {
      padding-top: 40px; } }
  footer.contact-details > div:first-of-type {
    padding-right: 20px; }
  footer.contact-details p {
    margin: 7px 0; }

.fixed-footer {
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 10px; }

.collapsible .default-hidden {
  display: none; }

.collapsible.s-expanded .default-shown {
  display: none; }

.collapsible.s-expanded .default-hidden {
  display: block; }

.terms {
  font-size: 1rem;
  line-height: 1.6rem; }
  .terms strong {
    font-size: 1.4rem; }
  .terms .list--alhpa {
    margin-top: 15px;
    margin-left: 15px; }
  .terms li {
    margin-bottom: 15px; }

.grey-link, [class^="grey-link_"] {
  color: #959595;
  cursor: pointer; }
  .grey-link:hover, [class^="grey-link_"]:hover {
    text-decoration: underline; }

.grey-link_dark {
  color: #333333;
  cursor: pointer; }
  .grey-link_dark:hover {
    text-decoration: underline; }

.link_blue {
  color: #20579E;
  cursor: pointer; }
  .link_blue:hover {
    text-decoration: underline; }

.phone-link {
  margin-bottom: 15px; }
  .phone-link a {
    color: #20579E; }
    @media (max-width: 800px) {
      .phone-link a {
        display: block; } }

.box-bordered {
  border: 1px solid #959595;
  padding: 15px;
  position: relative; }
  .box-bordered_greybg {
    background-color: gainsboro;
    padding: 15px;
    margin-top: 15px; }
  .box-bordered_black {
    border: 1px solid #000000;
    padding: 15px;
    position: relative; }
    @media (max-width: 30.0625em) {
      .box-bordered_black {
        margin-top: 15px; } }

.field--text {
  height: 50px; }

.field--error-message {
  color: white;
  background-color: #c4483a;
  padding: 15px;
  position: relative; }
  .field--error-message:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #c4483a;
    position: absolute;
    top: 0;
    left: 15px;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg); }

.input--check {
  outline: none;
  cursor: pointer; }
  .input--check input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
    clip: rect(0, 0, 0, 0); }
    .input--check input:checked + i {
      background-color: #E87722;
      color: white; }
  .input--check i {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 3px solid #E87722;
    border-radius: 35px;
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    line-height: 30px;
    margin-right: 15px;
    vertical-align: middle;
    font-size: 23px;
    color: rgba(232, 119, 34, 0);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
    .input--check i:hover {
      color: rgba(232, 119, 34, 0.3); }
  .input--check span {
    font-size: initial;
    color: initial; }

.language-selection {
  position: absolute;
  left: 40px;
  top: 0;
  right: 0;
  bottom: 0; }
  .language-selection:before {
    content: "";
    float: left;
    width: 5px;
    height: 30px; }

.language-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1rem;
  float: right;
  width: 100%;
  margin-left: -5px; }

.language {
  float: left;
  margin-right: 15px;
  text-decoration: underline;
  color: #20579E;
  cursor: pointer;
  padding: 5px 0;
  font-weight: 400; }
  .language.s-selected {
    color: black;
    text-decoration: none;
    color: #959595; }

.language--toggle {
  float: right;
  position: relative;
  top: -30px;
  left: 100%;
  width: 40px;
  margin-left: -40px;
  padding-right: 5px;
  box-sizing: content-box;
  background: -webkit-linear-gradient(left, rgba(233, 233, 233, 0) 0%, #e9e9e9 20%);
  background: linear-gradient(to right, rgba(233, 233, 233, 0) 0%, #e9e9e9 20%); }

.language--toggle-control input {
  position: absolute;
  clip: rect(0, 0, 0, 0); }
  .language--toggle-control input:checked ~ .language-selection--pop-up {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

.language--toggle-control i {
  color: black;
  padding: 5px 10px;
  font-size: 25px; }

.language-selection--pop-up {
  position: fixed;
  right: 0;
  bottom: 30px;
  top: 0;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  background-color: #E9E9E9;
  padding: 15px;
  font-size: 1rem;
  overflow-y: auto;
  text-transform: none;
  z-index: -1;
  color: black;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .language-selection--pop-up ul {
    list-style-type: none;
    margin: 0; }
    .language-selection--pop-up ul .language {
      display: block;
      float: none;
      padding: 10px 7.5px;
      font-size: 1.1rem; }

/*******************
	HELPER CLASSES
********************/
.h-overflow {
  overflow: hidden; }

.h-t-xs {
  font-size: 0.6rem; }

.h-t-s {
  font-size: 0.8rem; }

.h-t-m {
  font-size: 1rem; }

.h-t-l, .h-t-large {
  font-size: 1.5rem; }

.h-t-xxxl {
  font-size: 3.5rem; }

.h-ta-center {
  text-align: center; }

.h-ta-left {
  text-align: left; }

.h-ta-right {
  text-align: right; }

.h-tt-uppercase {
  text-transform: uppercase; }

.h-t-ellipsize {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.h-valign {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute; }

.h-mt-80 {
  margin-top: 10px; }

.h-mt-50 {
  margin-top: 5px; }

.h-mt-100 {
  margin-top: 15px; }

.h-mb-100 {
  margin-bottom: 15px; }

.h-mb-200 {
  margin-bottom: 30px; }

.h-mb-50 {
  margin-bottom: 7.5px; }

.h-mb-0 {
  margin-bottom: 0; }

.h-mr-100 {
  margin-right: 15px; }

.h-mr-50 {
  margin-right: 7.5px; }

.h-ml-100 {
  margin-left: 15px; }

.h-ml-50 {
  margin-left: 7.5px; }

.h-pt-100 {
  padding-top: 15px; }

.h-pb-100 {
  padding-bottom: 15px; }

.h-p-0 {
  padding: 0; }

.h-p-100 {
  padding: 15px; }

.h-lh-200 {
  line-height: 2; }

.h-d-table {
  display: table;
  width: 100%;
  table-layout: fixed; }

.h-d-block {
  display: block; }

.h-d-inline-block {
  display: inline-block; }

.h-pos-relative {
  position: relative; }

.h-pos-center {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center; }

.h-va-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.h-mw-400 {
  max-width: 430px;
  margin: 0 auto; }

.h-f-right {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right; }

.h-float-left {
  float: left; }

.h-float-right {
  float: right; }

.h-va-super {
  vertical-align: super; }

.h-va-text {
  vertical-align: center; }

.h-va-middle {
  vertical-align: middle; }

.h-ws-nowrap {
  white-space: nowrap; }

.h-icon--large {
  font-size: 25px; }

.s-viewer-mode .h-viewer-hidden {
  display: none; }

.h-viewer-shown {
  display: none; }
  .s-viewer-mode .h-viewer-shown {
    display: initial; }

/*******************
	COLOUR OVERRIDES
********************/
.c-price {
  color: #20579E; }

.c-finance {
  color: #24532B; }

.c-brand {
  color: #E87722; }

.c-active {
  color: #24532B; }

.c-error {
  color: #c4483a; }

.c-link {
  color: #1478BC; }

.c-grey {
  color: #959595; }

.c-grey-700 {
  color: #585858; }

.c-white {
  color: #ffffff !important; }

.c-black {
  color: #000000; }

.bg-finance {
  background-color: #D3E8CB; }

.bg-brand {
  background-color: #E87722; }

.bg-grey {
  background-color: #E9E9E9; }
