.bid-field label {
    float: left;
    max-width: 80px;
    vertical-align: middle;
    text-align: left; 
}
    @media (min-width: 80em) {
    	.bid-field label {
     		max-width: 200px;
     	} 
    }


.setting--result .result {
	line-height: 0.8rem;
	max-width: 60%; 
}