$details-width: 30%;

$footer-height: 50px;

$default-padding: 20px; 

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin details-label{
	label{
		display: block;
		opacity: 0.8;
		@include font-size(1.2);
		margin-bottom: 10px;
	}
}

body{
	font-family: 'Frutiger LT Std', 'Trebuchet MS', Verdana, sans-serif;
}

label{
	color: inherit;
}


.prototype-controls{
	position: fixed;
	top: 200px;
	left: 0;
	background-color: white;
	box-shadow: $ritchie-shadow;
	padding: 20px;
	z-index: 2;

	button{
		margin-bottom: 10px;
	}
}