$details-width: 30%;

$footer-height: 50px;

$paused-spacing: 60px;

$default-padding: 20px; 



@mixin details-label{
	label{
		display: block;
		opacity: 0.8;
		@include font-size(1.2);
		margin-bottom: 10px;
	}
}

@mixin vrampbreakpoint($point) {
  @if $point == xlarge {
    @media (min-width: 1920px) { @content; }
  }
  
  @if $point == large {
    @media (min-width: 1600px) { @content; }
  }

  @if $point == medium {
    @media (min-width: 1280) { @content; }
  }

  @if $point == small {
    @media (min-width: 960) { @content; }
  }
}

body{
	font-family: 'Frutiger LT Std', 'Trebuchet MS', Verdana, sans-serif;
}

label{
	color: inherit;
}

body{
	overflow: hidden;
}

.fullscreenbg{
	position: absolute;
	top: 0;
	left: 0;
	
	min-width: 100%;
	min-height: 100%;
}

.paused-message, .pre-post-message{
	position: absolute;
	top: $paused-spacing;
	bottom: $paused-spacing;
	left: $paused-spacing;
	right: calc(#{$details-width} + (2 * #{$paused-spacing}));

	background-color: white;
	padding: 2 * $paused-spacing;

	@include font-size(3);
	color: $brand-color;

	opacity: 0;
	transform: translateX(100%);
	transition: $transition;
	transition-delay: 0.1s;

	.h-valign{
		padding: $paused-spacing;
		text-align: center;
		left: 0;
		right: 0;
	}
}

	.paused-message{
		&:after{
			content: " ";
			
			position: absolute;
			top:50%;
			right: -$paused-spacing/2;
			width: $paused-spacing;
			height: $paused-spacing;
			
			transform: translateY(-50%) rotate(45deg);

			background-color: white;
		}

		.s-auction-paused &{
			transform: translateX(0);
			opacity: 1;
		}
	}

	.pre-post-message{

		.s-auction-pre &, .s-auction-post &{
			transform: translateX(0);
			opacity: 1;
		}
	}


.prototype-controls{
	position: fixed;
	top: 200px;
	left: 0;
	background-color: white;
	box-shadow: $ritchie-shadow;
	padding: 20px;
	z-index: 2;

	button{
		margin-bottom: 10px;
	}
}