$choice-spacing: 10px;

.choice-area{
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: $details-width;

	z-index: 1;

	.s-other-rings_all &{
		bottom: $footer-height;
	}

}

	.choice--header{
		padding: $default-padding;
		padding-bottom: 10px;
		background: linear-gradient(top, rgba($grey-900,0), rgba($grey-900,1));

		text-transform: uppercase;
		@include font-size(1.6);
		color: white;
	}

	.choice--body{
		padding: 0 $default-padding $default-padding;
		background-color: $grey-900;

	}

		$large-height: 130px;
		$med-height: 60px;
		$small-height: 40px;

		.choice--lot{
			position: relative;
			display: inline-block;
			margin-right: $choice-spacing;
			padding-top: 33px;
			vertical-align: top;

			height: $large-height;
			width: calc(100% / 5);
			
			background-color: white;
			box-shadow: $ritchie-shadow;
			
			color: $brand-color;
			text-align: center;
			@include font-size(3);

			transition: $transition;

			overflow: hidden;

			&:before{
					@include icon-font;
					font-size: 50px;
					content: '';
					
					display: block;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					opacity: 0;
					
					transition: $transition;
					transition-delay: 0.3s;
				}
			
			&.s-sold, &.s-out{
				background-color: $grey-700;
				color: white;
				@include font-size(2);
				
				padding-top: 80px;

				&:before{
					opacity: 1;
					top: 20px;
				}

				span{
					margin-right: 10px;
				}

				div{
					display: inline-block;
				}
			}

			&.s-sold:before{
				content: "\e920";
				color: $brand-color;
			}

			&.s-out{
				background-color: $error-colour;

				.out-text{
					color: rgba(white, 0.5);
				}

				&:before{
					content: "\e906";
					color: rgba(white, 0.5);
				}
			}

			&.s-active{
				background-color: $brand-color;
				color: white;
			}

			//DIFFERENT STYLING FOR DIFFERENT QUANTITIES OF LOTS
			&:nth-last-child(n+5),
			&:nth-last-child(n+5) ~ li {
				height: $med-height;
				width: calc((100% / 10) - #{$choice-spacing});
				
				padding-top: 13px;
				
				@include font-size(2);

				&:before{
					left: 6px;
					top: 0;
					transform: translateY(-50%) translateX(0);

					margin: 0;
					
					font-size: 20px;
				}
				
				&.s-sold, &.s-out{
					&:before{
						top: 50%;
					}

					padding-left: 28px;
					padding-top: 10px;

					text-align: left;
					@include font-size(1.5); 
					line-height: 1.5rem;
				}
			}

			&:nth-last-child(n+12),
			&:nth-last-child(n+12) ~ li {
				height: $small-height;
				width: calc((100% / 12) - #{$choice-spacing});
				margin-bottom: $choice-spacing;
				padding-top: 5px;

				&.s-sold, &.s-out{
					padding-left: 28px;
					padding-top: 4px;

					@include font-size(1.2); 
					line-height: 1.2rem;
				}
			}
		}







