$bg-color-ask: $brand-color;
$bg-color-high-bid: darken($brand-color, 10%);
$bg-color-details: darken($brand-color,15%);
$bg-color-auctioneer-message: darken($brand-color,25%);

$text-color-details: white;

$height-ask: 40%;
$height-high-bid: 90px;
$height-lot-details: 50%;

.details-area{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	width: $details-width;

	background-color: $bg-color-ask;
	text-align: left;
	color: $text-color-details;

	overflow: hidden;

	transition: $transition;

	.s-other-rings_single &{
		bottom: $footer-height;
	}

	.s-auction-paused &, .s-auction-pre &, .s-auction-post &{
		top: 60px;
		bottom: 60px;
		right: 60px;
	}
}

	.active-details{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		transform: translateX(0);
		transition: $transition;

		.s-auction-paused &, .s-auction-pre &, .s-auction-post &{
			transform: translateX(100%);
		}

	}

	.prices{
		position: absolute;
		top: 0;
		height: $height-ask;
		width: 100%;

		text-align: center;

		>div{
			width: 100%;
		}

		&.s-sold{
			background-color: $grey-700;
		}
	}


		$ccys: 	"CAD" "$" "" "," "." true 2,
			"USD" "$" "" "," "." true 14,
			"SGD" "$" "" "," "." true 12,
			"NZD" "$" "" "," "." true 10,
			"AUD" "$" "" "," "." true 0,
			"MXN" "$" "" "," "." true 8,
			"ZAR" "R" "" "," "." true 15,
			"PLN" "" "z\0142" " " "," true 11,
			"GBP" "\00A3" "" "," "." true 5,
			"EUR" "\20AC" "" " " "," true 4,
			"CNY" "\00A5" "" "," "." true 3,
			"JPY" "\00A5" "" "," "." false 7,
			"INR" " \20B9" "" "," "." true 6,
			"AED" "" "د.إ" "," "." true 1,
			"NOK" "kr" "" "," "." true 9,
			"TRY" "\20BA" "" "," "." true 13;


		@each $ccy in $ccys{
			
			.divider:before{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,4)}";
				}
			}
			.dollars:before{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,2)}";
				}
			}
			.dollars:after{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,3)}";
					margin-left: 3px;
					display: inline-block;
				}
			}
			.ccy{
				&.#{nth($ccy,1)}:before{
					content: "#{nth($ccy,1)}";
				}
			}

			.ccy{
				&.#{nth($ccy,1)}:after{
					background-position: 0 -#{nth($ccy,7)*15px};
				}
			}

		}

		.ccy:after{
			content: '';
			display: block;
			vertical-align: middle;
			margin-right: 7px;
			width: 30px;
			height: 15px;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-image: url(../img/ccy-flags.png);
			box-shadow: $ritchie-shadow;
		}


		.ask{
			@include font-size(3.5);
			padding: 0 20px;

			label{
				@include font-size(2); 
				display: block;
				margin-bottom: 20px;
			}
			
		}

			.ask--price{
				display: inline-block;
				position: relative;
			
				&:before{
					@include font-size(2);
					vertical-align: top;
				}

				&:after{
					position: absolute;
					left: 12px;
					bottom: 12px;
					transform: scale(1.4);
				}

				.dollars{
					display: inline-block;
				}
			}


		.conversions{
			text-align: left;
			margin: $default-padding;
		}

			.conversion{
				padding: 10px;
				background-color: rgba(0,0,0,0.1);
				position: relative;
				margin-bottom: 10px;

				.ccy:before{
					display: block;
					@include font-size(1.5);
				}

				.dollars{
					@include vert-align;
					position: absolute;
					right: $default-padding;
					display: inline-block;
					@include font-size(2);
				}
			}


	


	.high-bid{
		position: absolute;
		top: $height-ask;
		height: $height-high-bid;
		width: 100%;

		background-color: $bg-color-high-bid;
		padding: $default-padding;
		@include font-size(2);

		@include details-label;

	}

	.lot-details{
		padding: $default-padding;
		background-color: $bg-color-details;

		position: absolute;
		bottom: 0;
		height: calc(100% - (#{$height-ask} + #{$height-high-bid}));
		width: 100%;
		@include font-size(2);

		@include details-label;

		label{
			line-height: 1.4rem;
		}

	}

		.lot-detail{
			&:not(:last-of-type){
				margin-bottom: 20px;	
			}
		}




	.auctioneers-message, .open-offers{
		background-color: $bg-color-auctioneer-message;
		padding: $default-padding;

		position: absolute;
		bottom: 0;
		width: 100%;

		@include font-size(2);
		@include details-label;

		transform: translateY(100%);
		transition: $transition;

		&.s-shown{
			transform: translateY(0);	
		}
	}




//PAUSED STYLES

	$paused-upper-height: 30%;

	.paused-details, .pre-auction-details, .post-auction-details{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		
		transform: translateX(-100%);

		transition: $transition;

		font-weight: 700;
	}

		.s-auction-paused .paused-details{
			transform: translateX(0);
		}

		.s-auction-pre .pre-auction-details{
			transform: translateX(0);
		}

		.s-auction-post .post-auction-details{
			transform: translateX(0);	
		}

		.ring-detail{
			position: absolute;
			top: 0;
			bottom: $paused-upper-height;
			left: 0;
			right: 0;
			padding: 30px;

			@include font-size(6);

			label{
				display: block;
				
				line-height: 2rem;
				opacity: 0.9;
			}
		}

			.ring-detail_inactive{
				background-color: $grey-700;
				color: rgba(white,0.8);
			}

		.ring-status{
			position: absolute;
			top: $paused-upper-height;
			bottom: 0;
			left: 0;
			right: 0;

			background-color: $bg-color-auctioneer-message;

			@include font-size(3);
			text-align: center;
			text-transform: uppercase;

			.ring-status--content{
				@include vert-align;
				position: absolute;
				width: 100%;
				padding: 40px;
			}

			.status-icon{
				display: block;
				margin-bottom: 30px;
				font-size: 80px;
				
				animation: pulsate 2s ease-in-out infinite;
			}
		}

			.ring-status_focus{
				background-color: $brand-color;
			}



			@keyframes pulsate {
			  	0% {
			    	transform: scale(1);
				}
				50%{
					transform: scale(1.4);
				}
			  	100% {
				 	transform: scale(1);
				} 
			}


	





