@font-face {
	font-family: 'Frutiger LT Std';
	src: url('../fonts/FrutigerLTStd-BlackCn.eot');
	src: url('../fonts/FrutigerLTStd-BlackCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FrutigerLTStd-BlackCn.woff') format('woff'),
		url('../fonts/FrutigerLTStd-BlackCn.ttf') format('truetype'),
		url('../fonts/FrutigerLTStd-BlackCn.svg#FrutigerLTStd-BlackCn') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Frutiger LT Std';
	src: url('../fonts/FrutigerLTStd-BoldCn.eot');
	src: url('../fonts/FrutigerLTStd-BoldCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FrutigerLTStd-BoldCn.woff') format('woff'),
		url('../fonts/FrutigerLTStd-BoldCn.ttf') format('truetype'),
		url('../fonts/FrutigerLTStd-BoldCn.svg#FrutigerLTStd-BoldCn') format('svg');
	font-weight: 400;
	font-style: normal;
}
