.paused-message, .pre-post-message{
	position: absolute;
	top: $paused-spacing;
	bottom: $paused-spacing;
	left: $paused-spacing;
	right: calc(#{$details-width} + (2 * #{$paused-spacing}));

	background-color: white;
	padding: 2 * $paused-spacing;

	@include font-size(3);
	color: $brand-color;

	opacity: 0;
	transform: translateX(100%);
	transition: $transition;
	transition-delay: 0.1s;

	.h-valign{
		padding: $paused-spacing;
		text-align: center;
		left: 0;
		right: 0;
	}
}

	.paused-message{
		&:after{
			content: " ";
			
			position: absolute;
			top:50%;
			right: -$paused-spacing/2;
			width: $paused-spacing;
			height: $paused-spacing;
			
			transform: translateY(-50%) rotate(45deg);

			background-color: white;
		}

		.s-auction-paused &{
			transform: translateX(0);
			opacity: 1;
		}
	}

	.pre-post-message{

		.s-auction-pre &, .s-auction-post &{
			transform: translateX(0);
			opacity: 1;
		}
	}